<style type="text/css">
    table {
       border:1px solid black;
       border-collapse:collapse;
       width:100%; 
       height:auto; 
       } 
    tr.color {
        padding-top: 5px;
        background-color:#525151;
       }
    td {
        border:1px solid black;       
        padding:2px; 
       } 
    th{
        border:1px solid black;
        background: #525151;
        color: white;
        height:30px;
    }
    tr:hover {
          background-color: #ffff99;
    }

    .tr_solution_head{
        background: rgb(160, 146, 146);
    }
    .tr_solution{
        background: #e4d6d6;
    }
    .tr_solution_foot{
        background: rgb(160, 146, 146);   
        height: 5px;
    }
</style>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Incidences</h1>
        <table>
            <tr>
                <th>User</th>
                <th>Email</th> 
                <th>Cause of incidence</th>
                <th>Description</th>
                <th>It's Dangerouse</th>
                <th>Date Created</th>
                <th>Edit</th>
                <th>Resolution</th>
            </tr>
            {% for incidence in incidences %}
                <tr>
                    <td>{{ incidence.getUserName|e }}</td>
                    <td>{{ incidence.getUserEmail|e }}</td> 
                    <td>{{ incidence.getCause|e }}</td>
                    <td>{{ incidence.getDescription|e }}</td>
                    <td>{{ incidence.getItsDangerouse|e }}</td>
                    <td>{{ incidence.getDateCreatedFormated|e }}</td>
                    <td><button type="button"
                        onclick="location.href='{{ path('incidenceEdit', { 'id': incidence.id }) }}';">Edit
                    </button></td>
                    <td>
                        {% if incidence.getFinished == false %}
                            <button type="button"
                                onclick="location.href='{{ path('resolutionCreate', { 'incidenceId': incidence.getId }) }}';">add
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% if incidence.resolutions.count > 0 %}
                    <tr class="tr_solution_head">
                        <td colspan="8">
                            Solutions
                        </td>
                    </tr>
                {% endif %}

                {% for resolution in incidence.resolutions %}
                    <tr class="tr_solution">
                        <td>
                        {{ resolution.getDateCreatedFormated|e }}
                        </td>
                        <td colspan="7">
                        {{ resolution.getSolution|e }}
                        </td>
                    </tr>
                {% endfor %}
                {% if incidence.resolutions.count > 0 %}
                    <tr class="tr_solution_foot">
                        <td colspan="8">
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <button type="button"
            onclick="location.href='{{ path('incidenceCreate')  }}';">New incidence
        </button>
    </body>
</html>